tmp
.env**
!.env.sample
log
app/output/**
app/interfaces/obs/texts/**
!app/interfaces/obs/texts/.gitkeep

app/application/prompts/*.md
!app/application/prompts/*.sample.md

app/config.py
app/config_backup_**

pgdata
grafana

**/__pycache__/**

.idea
*.se1