tmp
.env
log
app/output/**
app/interfaces/obs/texts/username.txt
app/interfaces/obs/texts/comment.txt

app/application/prompts/*.md
!app/application/prompts/*.sample.md

pgdata
grafana

**/__pycache__/**

.idea
*.se1